* {
  box-sizing: border-box;
}

main {
  margin: -10px;
}

nav,
footer {
  padding: 15px 0;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

nav {
  position: fixed;
  z-index: 10;
  text-align: center;
  margin: auto;
}

.hidden {
  display: none !important;
}

li {
  display: inline;
}

li:not(:first-child):before {
  content: '  |  ';
}

nav > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-header {
  display: flex;
  height: 200px;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.section-header > h2 {
  margin: 0;
  display: inline-block;
}

.section-content {
  margin: auto;
  padding: 15px;
  width: 100%;
}

.about-me-content {
  column-count: 3;
  column-width: 250px;
  column-gap: 50px;
}

.about-me-content > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.project-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

h3 {
  display: inline-block;
}

.hero {
  display: flex;
  align-items: center;
  margin-top: 60px;
  padding: 2px 20px;
  max-width: 1000px;
  margin: auto;
}

.section-content > img {
  margin: 0;
  width: 100%;
}

.project:not(:first-child) {
  margin-bottom: 20px;
}

.project {
  display: inline-block;
  margin: 0, 20px;
  width: 300px;
  height: 500px;
}

.screenshot {
  width: 100%;
  padding: 5px;
}

.icon {
  height: 50px;
}

.contact-content {
  text-align: center;
}

.contact-content > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-content > ul > li:not(:first-child) {
  margin-left: 20px;
}

.contact-content > ul > li:not(:first-child):before {
  content: '';
}

.contact-content > ul > li {
  display: inline-block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 24px;
  margin-left: 20px;
  padding-left: 8px;
  border-left: 5px solid;
  border-color: #99d161;
}

@media only screen and (min-width: 650px) {
  .hero {
    height: 300px;
  }

  .section-content {
    width: 90%;
  }

  @media only screen and (min-width: 1000px) {
    .section-content {
      width: 960px;
    }
  }
}
