
/* 
font-family: 'Philosopher', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/

/*
Bold blue: #142A0C0
Orange accent: #FF6700
Light blue: #66D6FF
Cream: #FDFCFB
Gray: #E2E2E2
*/

body {
  background-color: #FDFCFB;
  font-family: 'Montserrat', sans-serif; 
}

nav {
  background-color: #66D6FF;
  box-shadow: 0px 0px 3px #66D6FF;
  font-family: 'Julius Sans One', sans-serif;
}

.section-content {
  background-color: #FDFCFB;
  box-shadow: 0px 0 3px #FDFCFB, 0px 0 3px #FDFCFB;
  font-size: 18px;
  line-height: 1.3;
}

.hero {
  background-image: url('/Images/Hero\ Image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 0 10px black;
}

header > p {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif; 
}

h2, h3 {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 5px solid;
  border-color: #42A0C0;
}

h2 {
  font-size: 40px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 0 8px #CECECE, 0 0 8px #CECECE;
}

.project:hover .inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #E2E2E2;
}

.links-section {
  margin-top: 15px;
}

.links-section > a {
  font-family: 'Julius Sans One', sans-serif;
  margin: 20px;
  font-size: 26px;
}

.back {
  transform: rotateY(180deg);
}